extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Valeria Reynoso

        p Software Engineer


        .about-bio
          p My interest in programming started from watching BattleBots on TV. I found it fascinating how technology could be used to build almost anything. I first started learning Python and JavaScript with online tutorials and classes. Eventually, I was able to build sites with HTML, CSS and JavaScript, using Axios to fetch APIs.
          p  I wanted to get serious about my learning and decided to attend App Academy, an intensive 6 month software engineering program. There, I gained experience in developing full stack, dynamic web applications using HTML, CSS, Javascript, NodeJS, React, Express, Flask, Sequelize, SQLAlchemy, and PostgreSQL.
          p  I spend my free time training Jiu Jitsu, reading and learning new things.  I also have a German Shepherd and enjoy being outdoors.


      .skills-contact-box.box
        h6 Skills

        ul
          li React/Next
          li Python
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug/CSS/HTML

        h6 Contact Info

        ul
          li (415) 370-7334
          li valeriayearup@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/valeria-reynoso-b89210149/', target='_blank') LinkedIn
        a.btn-link(href='https://github.com/valeriareynososf', target='_blank') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back