extends layout.pug

block content
    div
        h1 Server Error
        h2= `Error status code: ${err.status}`
        p= err.message

        a.home(href=`/`) Home
        div
            p= err.stack