extends layout.pug

block content
    div.container
        h1 Server Error
        h2= `Error status code: ${err.status}`
        p= err.message

        nav.nav
          a(href='/')
            span &larr;
            |  Back
        div
            p= err.stack