extends layout.pug

block content
    div
        h1 404 Page Not Found
        p Oops! The page you're looking for does not exist.

        a.home(href=`/`) Home

        if err
            div
                p= err.stack